createdAt: "2018-05-18T08:56:04.926Z"
updatedAt: "2018-05-18T08:58:38.831Z"
type: "MARKDOWN_NOTE"
folder: "011825cbb91c6d9c89ea"
title: "Useful Ansible Ressources"
content: '''
  # Useful Ansible Ressources
  
  **wget & install debian packages:**
  [Install .deb Packages in Ansible](https://chaosmail.github.io/programming/2015/03/04/install-deb-packages-in-ansible/)
  
  **Workstation configuration example:**
  [GitHub - chaosmail/dev-env: Install and configure development environment with Ansible (Ubunu 14.04.2 LTS)](https://github.com/chaosmail/dev-env)
  
  
'''
tags: [
  "sysadmin"
  "devops"
  "ansible"
]
isStarred: false
isTrashed: false
