createdAt: "2018-05-07T06:08:41.298Z"
updatedAt: "2018-05-07T06:09:21.242Z"
type: "MARKDOWN_NOTE"
folder: "c46806acbc0d231e6610"
title: "Open Source Licenses"
content: '''
  # Open Source Licenses
  
  **GPL compatible licenses:**
  [Verschiedene Lizenzen und Kommentare - GNU-Projekt - Free Software Foundation](https://www.gnu.org/licenses/license-list.html#GPLCompatibleLicenses)
  
  
'''
tags: []
isStarred: false
isTrashed: false
