createdAt: "2018-04-18T09:34:43.512Z"
updatedAt: "2018-04-18T09:35:48.752Z"
type: "MARKDOWN_NOTE"
folder: "793521cf8d1bf04392e6"
title: "KeepassXC snippets"
content: '''
  # KeepassXC snippets
  
  ## Open database
    * https://gist.github.com/dAnjou/b99f55de34b90246f381e71e3c8f9262
    * https://stackoverflow.com/questions/2613161/how-to-write-to-the-stdin-of-another-app
'''
tags: [
  "keepassxc"
  "integration"
]
isStarred: false
isTrashed: false
