createdAt: "2018-06-13T09:34:28.666Z"
updatedAt: "2018-06-13T09:34:30.879Z"
type: "MARKDOWN_NOTE"
folder: "1f4ca2e02de793f62302"
title: "overlay chrome://messenger/content/messengercompose/messengercompose.xul chrome://crisp/content/main.xul"
content: "overlay chrome://messenger/content/messengercompose/messengercompose.xul chrome://crisp/content/main.xul"
tags: []
isStarred: false
isTrashed: false
